<!DOCTYPE html>
<html lang="en" >
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />

    @DxResourceManager.RegisterScripts()
    @DxResourceManager.RegisterTheme(Themes.Fluent.Clone(properties => properties.AddFilePaths($"css/theme-fluent.css")))
    <link href="css/site.css" rel="stylesheet" />
    <link href="CustomDataSource.styles.css" rel="stylesheet" />
    <HeadOutlet />
</head>
<body>
    <Routes></Routes>
    <script src="_framework/blazor.web.js"></script>
</body>

</html>